.main_container {
    width: 100%;
    /*height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4rem;
    align-items: start;
    justify-items: center;
    padding: 2rem 1rem;

}

.title {

}

/* MATRIZ 8X8 */
.circular_button {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: blue;
    cursor: pointer;
    margin: 0.3rem;
    padding: 0;
}


.button_on {
    background-color: red;
}

.button_off {
    background-color: gray;
}


/* control LED RGB */
.led_rgb_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}

.led_box {

    margin: 1.4rem;
}


.led_rgb{
    margin: 0 auto;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px;

}

.seleccionable {
    cursor: pointer;
}

.led_red_on {
    background-color: #F00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    -webkit-animation: blinkRed 0.5s;
}

@keyframes blinkRed {
    from { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}

.led_red_off {
    background-color: #2d0000;
}




.led_green_on {
    background-color: #ABFF00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
    -webkit-animation: blinkGreen 0.5s;
}

@keyframes blinkGreen {
    from { background-color: #519801; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;}
    to { background-color: #ABFF00; }
}

.led_green_off {
    background-color: #519801;
}



.led_blue_on {
    background-color: #24E0FF;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
    -webkit-animation: blinkBlue 0.4s;
}

@keyframes blinkBlue {
    from { background-color: #224681; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;}
    to { background-color: #24E0FF; }
}

.led_blue_off {
    background-color: #0f1f3b;
}




/* LED UNICO */

.led_container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.led_unico{
    margin: 0 auto;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px;
    cursor: pointer;
}




.footer{
    width: 100%;
    padding-top: 2rem;
    margin: 0;
    background: #f2f3f8;
    padding-bottom: 1rem;
}